.center {
	width: 720px;
}

header {
	display: block;
	width: 100%;
	background: url('../img/bg.jpg') center no-repeat;
	background-size: cover;
	overflow: hidden;

	h1 {
		font-weight: 300;
		font-size: 3em;
		color: #fff;
		margin: 1em 0;
		margin-bottom: .1em;
		img {
			display: block;
			width: auto;
			max-width: 720px;
			margin: auto;
			margin-bottom: .5em;
		}
	}
	h2 {
		font-weight: 300;
		font-size: 1.8em;
		color: #fff;
		margin: 1em 0;
		margin-top: 0;
		margin-bottom: 1em;
	}
	#containvideo {
		width: 720px;
		display: block;
		overflow: hidden;
		background: #000;
		box-shadow: 0 0 250px 250px rgba(0, 0, 0, 0.3);

		header #containvideo video,
		header #containvideo iframe {
			width: 100%;
			display: block;
		}
	}
}

footer.video {
	display: block;
	margin-bottom: 2em;

	footer.video .contain {
		display: block;
		background: #222222;
		padding: 1em;
		padding-left: calc(1em + 15px);
		font-size: 1.2em;
		color: #fff;

		footer.video .contain .online {
			font-weight: 300;

			&:before {
				background: red;
				content: " ";
				width: 10px;
				height: 10px;
				display: block;
				border-radius: 50%;
				position: absolute;
				margin-left: -17px;
				margin-top: 8px;
			}
		}
	}
}

.social {
	margin-bottom: 2em;
	overflow: hidden;
}

article {
	overflow: hidden;
	color: #444;
	font-weight: 300;

	p {
		text-align: justify;
		line-height: 1.4;
		margin-top: 1em;
		margin-bottom: 1em;

		b, strong {
			font-weight: 400px;
		}
	}

	.sep {
		text-align: center;
		display: block;
		line-height: 1.4;
		margin-bottom: 1em;
		font-size: 2em;
		letter-spacing: .2em;
		color: rgba(0,0,0,.2);
	}
	ul {
		margin: 1em 1.5em;
	}
	a {
		color: #3E569B;
		text-decoration: none;
	}
	hr {
		background: none;
		border: 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
		box-shadow: 0 0 1em .1em rgba(0,0,0,.1);
		margin: 2em 0;
	}
}

@media (max-width: 720px) {
	header h1 {
		font-size: 2em;
		img {
			display: block;
			width: auto;
			max-width: 100%;
		}
	}
	header h2 {
		font-size: 1.4em;
	}
	header #containvideo {
		width: 100%;
	}
	article {
		img {
			max-width: 100%;
		}
	}
}












