/*
 * Globals
 */

/* Links */

/* Custom default button */

.transform (@arg) {
	-webkit-transform: @arg;
	-moz-transform: @arg;
	-o-transform: @arg;
	transform: @arg;
}
.transition (@arg) {
	-webkit-transition: @arg;
	-moz-transition: @arg;
	-o-transition: @arg;
	transition: @arg;
}

#slider {
	background: #222;
	display: block;
	width: 100%;
	margin: 0;
	overflow: hidden;

	.sld {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #444;

		width: 100%;
		height: 600px;
		overflow: hidden;
		margin-top: -600px;
		.transition(all .5s);

		&:first-child {
			margin-top: 0;
		}

		&.back {
			.transform( translate(-100%,0) );
		}
		&.next {
			.transform( translate(100%,0) );
		}
		&.now {
			.transform( translate(0,0) );
		}

		.overlive {
			display: block;
			width: 100%;
			height: 100%;

			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

			h2 {
				margin-top: 2.5em;
				text-align: center;
				padding: 1em;
				font-size: 3em;
				font-weight: 300;
				color: #fff;
				text-shadow: 0px 0px rgba(0,0,0,.3);

				&.wimage {
					margin-top: 1.5em;
				}

				img {
					max-width: 640px;
					max-height: 300px;
					display: block;
					margin: auto;
				}
			}
			p {
				text-align: center;
				padding: .25em 1em;
				width: 50%;
				margin: auto;
				font-size: 1em;
				color: #fff;
				text-shadow: 0px 0px rgba(0,0,0,.3);

				&.sub {
					font-size: 1.5em;
					font-weight: 200;
				}

				.online {
					display: inline-block;
					padding: .6em .8em;
					background: #D9534F;
					border-radius: 4px;
					font-size: .8em;
					text-transform: uppercase;
				}

				.btn {
					display: inline-block;
					margin: 1em;
					padding: 1em 1.5em;
					font-size: 1em;
					border: 2px solid #fff;
					border-radius: .5em;
					background: none;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					transition: all .3s;

					&:hover {
						background: #fff;
						color: #444;
					}
				}
			}
		}

	}

	#dots {
		display: block;
		width: 100%;
		margin: auto;
		text-align: center;
		position: absolute;
		margin-top: -3em;

		li {
			display: inline-block;
			width: 4em;
			height: .5em;
			border-radius: .5em;
			background: rgba(255,255,255,.5);
			margin: 10px;
			cursor: pointer;

			&:hover {
				span {
					.transform( translate(0,0) );
					opacity: 1;
				}
			}

			&.active {
				background: rgba(255,255,255,1);
			}
		}
	}
}

@media (max-width: 720px) {
	#slider {
		.sld {
			height: 350px;
			margin-top: -350px;

			.overlive {
				width: 100%;
				height: 100%;

				h2 {
					margin-top: 1.2em;
					padding: .5em;
					font-size: 2.4em;
					&.wimage {
						margin-top: .5em;
					}
					img {
						width: 520px;
					}
				}
				p {
					font-weight: 300;

					.online {
						padding: .6em .8em;
						font-size: .8em;
					}

					.btn {
						margin: 1em;
						padding: .8em 1em;
						font-size: .8em;
					}
				}
			}
		}

	}
}


@media (max-width: 560px) {
	#slider {
		.sld {
			height: 250px;
			margin-top: -250px;

			.overlive {
				width: 100%;
				height: 100%;

				h2 {
					margin-top: 1em;
					padding: .2em;
					font-size: 2em;
					&.wimage {
						margin-top: .5em;
					}
					img {
						width: 340px;
					}
				}
				p {
					font-size: .8em;
					font-weight: 300;
					padding: .2em;

					.online {
						padding: .8em .8em;
					}

					.btn {
						margin: 1em;
						padding: .8em 1em;
						font-size: .8em;
						border-width: 1px;
					}
				}
			}
		}

	}
}

@media (max-width: 560px) {
	#slider {
		.sld {
			height: 200px;
			margin-top: -200px;

			.overlive {
				h2 {
					font-size: 1.6em;
					img {
						width: 320px;
					}
				}
				p {
					width: 80%;
					font-size: .8em;
					font-weight: 300;
					padding: .2em;

					.online, .date {
						display: none;
					}

					.btn {
						margin: 1em;
						padding: .8em 1em;
						font-size: .8em;
						border-width: 1px;
					}
				}
			}
		}

		#dots {
			margin-top: -2em;

			li {
				width: 2em;
				height: .2em;
				border-radius: .2em;
				margin: 10px;
			}
		}
	}
}







